body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #381B75;
    color: white;
    padding: 10px 0;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header img {
    width: 100px;
    height: auto;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.lado{
    background-color: #F70A11;
    width: 80%; /* Ancho del contenido principal */
    padding: 20px;
    width: 10%; /* Ancho de la columna de la izquierda */
    min-height: 100vh; /* Altura mínima de la columna */
}
ul {
    list-style-type: none;
    padding: 0;

}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}